.comm_top_userGroup,
.comm_top_userGroup .account a,
.comm_top_userGroup .lang a {
    color: #333;
}
.comm_top_userGroup .search i{
    background: url("../../img/customer/top_user_search_btn.png") no-repeat center center;
}
.comm_top_userGroup .shoppingcar > div > i{
    background: url("../../img/customer/shoppingcar_icon01.png") no-repeat;
}

.header .top_logoBlockHolder{
    height: 40px;
    display: none;
}
.header .top_logoBlock{
    width:100%;
    height:130px;
    text-align: center;
    z-index: 10;
    background-color: #fff;
}
.header .top_logoBlock img{
    width: auto;
    height: auto;
    margin-top: 30px;
}
.header .top_logoBlock h1{
    display: none;
    font-size: 18px;
}
.header .top_logoBlock .searchBtn{
    position:absolute;
    top:0;
    right:0;
    display: none;
    width: 40px;
    height: 40px;
    background: url(../../img/show/icons.png) no-repeat -144px 0;
}
.header .top_logoBlock .searchBlock{
    display: none;
    position:absolute;
    top:0;
    left: 48px;
    right:0;
    height:40px;
    visibility: hidden;
}
.header .top_logoBlock .searchBlock .border{
    position:relative;
    margin: 6px 60px 0 10px;
    height: 26px;
    line-height:26px;
    background-color: #eee;
    border-radius: 4px;
    padding: 0 30px 0 10px;
    border: 1px solid #eee;
}
.header .top_logoBlock .searchBlock .warn{
    border-color: #f00;
}
.header .top_logoBlock .searchBlock .border input{
    width: 100%;
    color: #333;
    border: none;
    background: none;
}
.header .top_logoBlock .searchBlock .border i{
    position: absolute;
    top: 5px;
    right: 5px;
    width: 19px;
    height: 18px;
    background: url(../../img/show/icons.png) no-repeat -47px -221px;
}
.header .top_logoBlock .searchBlock a{
    display:block;
    position: absolute;
    top: 0;
    right: 0;
    width: 60px;
    height: 40px;
    background-color: #000;
    line-height: 40px;
    color: #fff;
    text-align: center;
}

.mobileSide{
    position: fixed;
    top: 50%;
    right: 0;
    display: none;
    z-index: 500;
}
.mobileSide a{
    position:relative;
    display: block;
    width: 40px;
    height: 40px;
    background: url(../../img/show/shoppingcar_side.png);
}
.mobileSide .toShoppingcarPage{
    background-position:  0 0;
}
.mobileSide .toShoppingcarPage i{
    display:block;
    width:12px;
    height:12px;
    position: absolute;
    top:6px;
    right:6px;
    background: url(../../img/show/shoppingcar_side_redPoint.png);
    display: none;
}
.mobileSide .scrollTop{
    background-position:  -40px 0;
    margin-top: 10px;
}
.common_mainNavBar{
    position: relative;
    background-color: #333;
}
.common_mainNavBar > li .subPopBlock{
    background-color: #eee;
    border-bottom: 1px solid #cacaca;
    box-shadow:0px 10px 5px #dedede;
}
.common_mainNavBar .subPopBlock .categoryBlock li .border a{
    color: #666;
}
.common_mainNavBar .subPopBlock .categoryBlock li .border{
    border-left: 1px solid #cacaca;
}
.common_mainNavBar .subPopBlock .categoryBlock li .border a:hover{
    color: #000;
}

.common_mainPanel{
    margin: 0 auto;
    width:100%;
    max-width: 1200px;
}
.common_mainPanel .filterPanel{
    width: 220px;
    float: left;
}
.common_mainPanel .filterPanel .byCategory{
    margin-top: 15px;
    text-transform: uppercase;
}
.common_mainPanel .filterPanel .groupBar{
    position:relative;
    display:block;
    color: #333;
    height: 30px;
    line-height: 30px;
    border-bottom: 1px solid #333;
    text-transform: uppercase;
}
.common_mainPanel .filterPanel .groupBar span{
    margin-left: 2px;
    display: block;
    margin-right: 30px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.common_mainPanel .filterPanel .groupBar i{
    position:absolute;
    right:0;
    top:0;
    display: block;
    width: 30px;
    height: 30px;
    background: url(../../img/show/icons.png) no-repeat -60px -132px;
}
.common_mainPanel .filterPanel .groupBar .close{
    background-position: -90px -132px;
}
.common_mainPanel .filterPanel .byCategory ul{
    overflow:hidden;
    max-height: 2500px;
    transition: max-height 0.25s ease-in;
}
.common_mainPanel .filterPanel .byCategory ul.close{
    max-height: 0;
    transition: max-height 0.25s ease-out;
}
.common_mainPanel .filterPanel .byCategory ul li{
    line-height: 30px;
    border-bottom: 1px solid #ddd;
    max-height: 500px;
    transition: all 0.25s ease-out 0s;
    overflow: hidden;
}
.common_mainPanel .filterPanel .byCategory ul li a{
    display: block;
    color: #666;
}
.common_mainPanel .filterPanel .byCategory ul .unable a{
    color: #ccc;
}
.common_mainPanel .filterPanel .byCategory ul li span{
    margin-left: 2px;
    display: block;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    margin-right: 30px;
}
.common_mainPanel .filterPanel .byCategory ul li .groupRow{
    position:relative;
    border-bottom: 1px solid #ddd;
}
.common_mainPanel .filterPanel .byCategory ul li .groupRow i{
    position:absolute;
    top:0;
    right:0;
    display: block;
    width: 30px;
    height: 30px;
    cursor:pointer;
    background: url(../../img/show/icons.png) no-repeat -60px -162px;
}

.common_mainPanel .filterPanel .byCategory ul .close{
    max-height: 30px;
}
.common_mainPanel .filterPanel .byCategory ul .close .groupRow {
    border-bottom: none;
}
.common_mainPanel .filterPanel .byCategory ul .close .groupRow i{
    background-position: -90px -162px;
}
.common_mainPanel .filterPanel .byCategory ul .close .groupRow>ul{
    height: 0;
}

.common_mainPanel .filterPanel .byCategory ul li .tab1{
    margin-left: 22px;
}
.common_mainPanel .filterPanel .byCategory ul li .tab1 li{
    border-bottom:none;
}
.common_mainPanel .filterPanel .byCategory .selected a{
    color: #df4141;
}

.common_mainPanel .filterPanel .byBrand{
    margin-top: 50px;
}
.common_mainPanel .filterPanel .byBrand ul{
    overflow:hidden;
    max-height: 2500px;
    transition: max-height 0.25s ease-in;
    margin-top: 10px;
}
.common_mainPanel .filterPanel .byBrand ul.close{
    max-height: 0;
    transition: max-height 0.25s ease-out;
    overflow: hidden;
}
.common_mainPanel .filterPanel .byBrand li{
    border-bottom: 1px solid #ddd;
    height:30px;
}
.common_mainPanel .filterPanel .byBrand .unable a{
    color: #ccc;
}
.common_mainPanel .filterPanel .byBrand li a{
    padding-top:6px;
    color: #666;
    display: block;
    vertical-align: middle;
}
.common_mainPanel .filterPanel .byBrand li a span{
    line-height: 15px;
    height: 30px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin-right: 30px;
    display: block;
}

.common_mainPanel .filterPanel .bySeries{
    margin-top: 40px;
}
.common_mainPanel .filterPanel .bySeries ul{
    overflow:hidden;
    max-height: 2500px;
    transition: max-height 0.25s ease-in;
    margin-top: 10px;
}
.common_mainPanel .filterPanel .bySeries ul.close{
    max-height: 0;
    transition: max-height 0.25s ease-out;
    overflow: hidden;
}
.common_mainPanel .filterPanel .bySeries li{
    border-bottom: 1px solid #ddd;
    height:30px;
}
.common_mainPanel .filterPanel .bySeries .unable a{
    color: #ccc;
}
.common_mainPanel .filterPanel .bySeries li a{
    padding-top:6px;
    color: #666;
    display: block;
    vertical-align: middle;
}
.common_mainPanel .filterPanel .bySeries li a span{
    line-height: 15px;
    height: 30px;
    margin-right: 30px;
    display: block;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.common_mainPanel .filterPanel .byPrice{
    margin-top: 50px;
    color: #999;
}
.common_mainPanel .filterPanel .byPrice ul{
    overflow:hidden;
    max-height: 2500px;
    transition: max-height 0.25s ease-in;
}
.common_mainPanel .filterPanel .byPrice ul.close{
    max-height: 0;
    transition: max-height 0.25s ease-out;
    overflow: hidden;
}
.common_mainPanel .filterPanel .byPrice li{
    padding-top: 20px;
    white-space: nowrap;
}

.common_mainPanel .filterPanel .byPrice .slider{
    position: relative;
}
.common_mainPanel .filterPanel .byPrice .slider a{
    position: absolute;
    top: -3px;
    left: 0;
    display: block;
    width: 8px;
    height: 15px;
    background: url("../../img/show/icons.png") no-repeat -174px -68px;
}
.common_mainPanel .filterPanel .byPrice .slider .bg{
    border: 1px solid #aaa;
    height: 4px;
}
.common_mainPanel .filterPanel .byPrice .slider .track{
    position: absolute;
    top:0;
    left: 0;
    width: 0;
    background: #464646;
    height: 6px;
}
.common_mainPanel .filterPanel .labelGroup{
    position: relative;
    color: #464646;
    font-size: 12px;
    margin-top: 5px;
}
.common_mainPanel .filterPanel .labelGroup .maxPrice{
    position: absolute;
    right: 0;
    top: 0;
}
.common_mainPanel .filterPanel .byPrice .priceInput{
    position:relative;
    display: inline-block;
    width: 74px;
    height: 24px;
    border: 1px solid #ccc;
    line-height: 24px;
}
.common_mainPanel .filterPanel .byPrice .priceInput input{
    border: none;
    position: absolute;
    top: 0;
    left:20px;
    width: 50px;
    padding: 4px 2px 2px 2px;
    color: #000;
    font-size: 12px;
}
.common_mainPanel .filterPanel .byPrice input[type="submit"]{
    background-color: #000;
    border: none;
    width: 48px;
    height: 26px;
    display: inline-block;
    margin-left: 6px;
}
.common_mainPanel .filterPanel .byColor{
    margin-top: 50px;
}
.common_mainPanel .filterPanel .byColor ul{
    margin: 10px 0 0 6px;
    overflow:hidden;
    max-height: 2500px;
    transition: max-height 0.25s ease-in;
}
.common_mainPanel .filterPanel .byColor ul.close{
    max-height: 0;
    transition: max-height 0.25s ease-out;
    overflow: hidden;
}

.common_mainPanel .filterPanel .byColor ul li{
    display: inline-block;
    width: 28px;
    height: 28px;
    margin: 0 2px 2px 0;
}
.common_mainPanel .filterPanel .byColor ul li img{
    width: 28px;
    height: 28px;
}

.common_mainPanel .filterPanel .bySearch{
    margin-top: 50px;
}
.common_mainPanel .filterPanel .bySearch>.close{
    height: 0;
    overflow: hidden;
}
.common_mainPanel .filterPanel .bySearch li{
    position: relative;
    padding-top: 10px;
}
.common_mainPanel .filterPanel .bySearch .border{
    position: relative;
    border: 1px solid #ccc;
    margin-right: 50px;
    padding: 1px 4px 0 30px;
    height: 21px;
}
.common_mainPanel .filterPanel .bySearch .warn{
    border-color: #f00;
}
.common_mainPanel .filterPanel .bySearch .close {
    background-position: -90px -132px;
}
.common_mainPanel .filterPanel .bySearch .border span{
    position: absolute;
    left:30px;
    top:2px;
    color: #aaa;
    font-size: 12px;
}
.common_mainPanel .filterPanel .bySearch .border input{
    position:relative;
    color: #333;
    width: 100%;
    background: none;
    border: none;
}
.common_mainPanel .filterPanel .bySearch input[type='submit']{
    position: absolute;
    right: 0;
    top:10px;
    width: 48px;
    height:24px;
    border: none;
    background-color: #000;
    color: #fff;
    text-align: center;
    line-height: 20px;
}
.common_mainPanel .filterPanel .bySearch ul li i{
    display:block;
    position: absolute;
    top:0;
    left: 0;
    width: 24px;
    height: 22px;
    background: url(../../img/show/icons.png) no-repeat -23px -224px;
}


.common_mainPanel .filterPanel  .bottomSpace{
    height: 100px;
}
.common_mainPanel .filterPanel .mobileFilter{
    height: 40px;
    line-height: 40px;
    border-bottom: 1px solid #000;
    display: none;
}
.common_mainPanel .filterPanel .mobileFilter li{
    width: 33.33%;
    float: left;
}
.common_mainPanel .filterPanel .mobileFilter li a{
    display:block;
    text-align: center;
    color: #333;
}
.common_mainPanel .filterPanel .mobileFilter li a i{
    display: inline-block;
    width: 15px;
    height: 14px;
    background: url(../../img/show/icons.png) no-repeat -72px -191px;
    margin-left: 10px;
    vertical-align: -5px;
}
.common_mainPanel .filterPanel .mobileFilter li a .separator{
    display:inline-block;
    float: right;
    height: 14px;
    width: 1px;
    border-right: 1px solid #323232;
    margin-top: 12px;
}

.common_mainPanel .listPanel{
    margin: 0 0 0 250px;
    position: relative;
}
.common_mainPanel .listPanel .subTitlePanel{
    line-height: 30px;
    padding-top:15px;
    border-bottom: 1px solid #ddd;
}
.common_mainPanel .listPanel .subTitlePanel .navPath{
    color: #333;
}
.common_mainPanel .listPanel .subTitlePanel .priceOrder{
    float: right;
    font-size: 12px;
    margin-right: 10px;
}
.common_mainPanel .listPanel .subTitlePanel .priceOrder a{
    color: #666;
    margin-left: 15px;
}
.common_mainPanel .listPanel .subTitlePanel .priceOrder .current{
    color: #000;
    cursor: default;
}
.common_mainPanel .listPanel .topSpace{
    padding-bottom: 10px;
}
.common_mainPanel .listPanel .topSpace ul{
    margin-top: 6px;
}
.common_mainPanel .listPanel .topSpace ul li{
    display: inline-block;
}
.common_mainPanel .listPanel .topSpace ul .current{
    background-color: #666;
}
.common_mainPanel .listPanel .topSpace ul .current a{
    color: #fff;
}
.common_mainPanel .listPanel .topSpace ul li a{
    display: block;
    height: 23px;
    line-height: 23px;
    padding: 0 15px;
    color: #666;
    font-size: 12px;
}
.common_mainPanel .listPanel>ul li{
    width: 33.33%;
    float: left;
    margin-bottom: 30px;
    text-align: center;
}
.common_mainPanel .listPanel>ul li .contentBlock{
    margin: 0 18px;
    max-width: 280px;
    display: inline-block;
}
.common_mainPanel .listPanel>ul li .contentBlock .imgBlock{
    position: relative;
    overflow: hidden;
}
.common_mainPanel .listPanel>ul li .contentBlock .imgBlock .bg{
    position: static;
}
.common_mainPanel .listPanel>ul li .contentBlock .imgBlock img{
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
}
.common_mainPanel .listPanel>ul li:hover .contentBlock .imgBlock .shoppingcar{
    bottom:0;
}
.common_mainPanel .listPanel>ul li .contentBlock .imgBlock .shoppingcar{
    position: absolute;
    left:0;
    bottom:-105px;
    width:100%;
    height: 95px;
    background: rgba(255,2555,2555,0.5);
    padding-top: 10px;
    transition: all 0.25s ease-out 0s;
}
.common_mainPanel .listPanel>ul li .contentBlock .imgBlock .shoppingcar .size{
    text-align: left;
    margin-left: 15px;
}
.common_mainPanel .listPanel>ul li .contentBlock .imgBlock .shoppingcar .size span{
    display: inline-block;
    width: 50px;
    height: 22px;
    line-height: 22px;
    border: 1px solid #999;
    margin: 0 15px 4px 0;
    text-align: center;
    background-color: #fff;
    color: #666;
    font-size: 10px;
}
.common_mainPanel .listPanel>ul li .contentBlock .imgBlock .shoppingcar .size .checked{
    background-color: #ccc;
}
.common_mainPanel .listPanel>ul li .contentBlock .imgBlock .shoppingcar .submitRow{
    position: absolute;
    left: 0;
    bottom: 10px;
    width: 100%;
}
.common_mainPanel .listPanel>ul li .contentBlock .imgBlock .shoppingcar .submitRow input{
    width: 125px;
    height: 26px;
    vertical-align:4px;
    text-align: center;
    background-color: #df4141;
    color: #fff;
    border: none;
}

.common_mainPanel .listPanel>ul li .contentBlock .descriptBlock{
    padding-top:10px;
    color: #333;
    white-space: nowrap;
    overflow: hidden;
    text-align: left;
}
.common_mainPanel .listPanel>ul li .contentBlock .descriptBlock h3{
    font-size: 14px;
}
.common_mainPanel .listPanel>ul li .contentBlock .descriptBlock h2{
    font-size: 14px;
    line-height: 28px;
}
.common_mainPanel .listPanel>ul li .contentBlock .descriptBlock .price {
    position:relative;
}
.common_mainPanel .listPanel>ul li .contentBlock .descriptBlock .price h1{
    font-size: 18px;
    text-transform: uppercase;
}
.common_mainPanel .listPanel>ul li .contentBlock .descriptBlock .price i{
    font-style: normal;
}
.common_mainPanel .listPanel>ul li .contentBlock .descriptBlock .price h1 b{
    margin-left: 8px;
    font-weight: normal;
}
.common_mainPanel .listPanel>ul li .contentBlock .descriptBlock .price span{
    position:absolute;
    bottom:0;
    right:0;
    font-size: 12px;
    color: #666;
    display: none;
}
.common_mainPanel .listPanel>ul li .contentBlock .descriptBlock .price span b{
    font-weight: normal;
    margin-left: 4px;
}
.common_mainPanel .listPanel .loadingRow{
    clear: both;
    text-align: center;
    color: #999;
    visibility: hidden;
}
.common_mainPanel .listPanel .loadingRow .text{
    font-size: 12px;
    padding: 15px 0 ;
}

.common_mainPanel .listPanel .mobileFilterBg{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
    z-index: 1000;
    visibility: hidden;
}
.common_mainPanel .listPanel .mobileFilterPop{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 1001;
    visibility: hidden;
    background-color: #fff;
}
.common_mainPanel .listPanel .mobileFilterPop ul{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #fff;
}
.common_mainPanel .listPanel .mobileFilterPop .brandPop li{
    height: auto;
    padding: 0 10px;
    width: auto;
    margin-bottom: 0;
    float: none;
    text-align: left;
}
.common_mainPanel .listPanel .mobileFilterPop .brandPop li:first-child a{
    border-top:none;
}
.common_mainPanel .listPanel .mobileFilterPop .brandPop .unable a{
    color: #ccc;
}
.common_mainPanel .listPanel .mobileFilterPop .brandPop li a{
    display:block;
    border-top: 1px solid #999;
    height: 29px;
    line-height: 29px;
}
.common_mainPanel .listPanel .mobileFilterPop .colorPop {
    padding-bottom: 10px;
}
.common_mainPanel .listPanel .mobileFilterPop .colorPop li{
    width: 40px;
    height: 40px;
    display: inline-block;
    margin: 10px 0 0 10px;
}
.common_mainPanel .listPanel .mobileFilterPop .colorPop li a{
    display: block;
    width: 40px;
    height: 40px;
}
.common_mainPanel .listPanel .mobileFilterPop .colorPop li img{
    width: 100%;
    height: 100%;
}
.common_mainPanel .listPanel .mobileFilterPop .pricePop li{
    position:relative;
    width: auto;
    height: auto;
    margin:0;
    float: none;
    white-space: nowrap;
    height: 52px;
}
.common_mainPanel .listPanel .mobileFilterPop .pricePop li .inputGroup{
    margin-right: 90px;
}
.common_mainPanel .listPanel .mobileFilterPop .pricePop li .inputGroup .half{
    position:relative;
    width: 50%;
    float: left;
}


@media \0screen {
    .common_mainPanel{
        width :1200px;
    }
    .common_mainPanel .listPanel .mobileFilterBg{
        background:url(../1pAlpha.png);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#7A000000, endColorstr=#7A000000);
    }
    .common_mainPanel .listPanel>ul li .contentBlock .imgBlock .shoppingcar{
        background:url(../1pAlpha.png);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#7AFFFFFF, endColorstr=#7AFFFFFF);
    }
    .common_mainNavBar>li .subPopBlock{
        filter:none;
    }
}
@media only screen and (max-width: 1200px) {
    .header .subNavListBlock .viewBlock .labelBlock{
        width: 180px;
    }
}
@media only screen and (min-width: 784px) and (max-width: 1100px) {
    .common_mainPanel .listPanel>ul li .contentBlock .descriptBlock{
        text-align: center;
    }
    .common_mainPanel .listPanel>ul li .contentBlock .descriptBlock .price span{
        position: static;
    }
}
@media only screen and (min-width: 784px) and (max-width: 1020px) {
    .common_mainPanel .listPanel>ul li {
        width: 50%;
    }
    .header .top_logoBlock{
        position: static;
    }

}
@media only screen and (max-width: 785px) {
    .header{
        height: 40px;
    }
    .header .top_logoBlock .searchBlock,
    .header .top_logoBlock .searchBtn{
        display: block;
    }
    .header .top_logoBlock {
        position: fixed;
        left:auto;
        background: #000;
        height: 40px;
        line-height:40px;
        text-align: center;
    }
    .header .top_logoBlock img{
        display: none;
    }
    .header .top_logoBlock h1{
        display: inline-block;
        margin-left: 47px;
    }
    .header .common_centerBlock{
        display: none;
    }
    .header .top_logoBlock .searchBtn,
    .mobileSide{
        display: block;
    }
    .common_mainPanel .filterPanel{
        float: none;
        width: auto;

    }
    .common_mainPanel .filterPanel .bySeries ,
    .common_mainPanel .filterPanel .byCategory,
    .common_mainPanel .filterPanel .byBrand,
    .common_mainPanel .filterPanel .byPrice,
    .common_mainPanel .filterPanel .byColor,
    .common_mainPanel .filterPanel .bySearch,
    .common_mainPanel .listPanel .topSpace ul,
    .common_mainPanel .filterPanel .bottomSpace{
        display: none;
    }
    .common_mainPanel .filterPanel .mobileFilter{
        display: block;
    }
    .common_mainPanel .listPanel {
        margin: 0;
    }
    .common_mainPanel .listPanel .topSpace {
        height: 20px;
    }
    .common_mainPanel .listPanel .subTitlePanel{
        display: none;
    }
    .common_mainPanel .listPanel>ul li {
        width: 50%;
        margin-bottom: 10px;
    }
    .common_mainPanel .listPanel>ul li .contentBlock{
        margin: 0 5px;
    }
    .common_mainPanel .listPanel>ul li .contentBlock .descriptBlock .price span{
        position: static;
    }
    .common_mainPanel .listPanel>ul li .contentBlock .descriptBlock h3{
        font-size: 12px;
    }
    .common_mainPanel .listPanel>ul li .contentBlock .descriptBlock h2{
        line-height: 20px;
    }

    .common_mainPanel .listPanel .mobileFilterBg{
        visibility: visible;
    }
    .common_mainPanel .listPanel .mobileFilterPop{
        visibility: visible;
    }
}
@media only screen and (max-width: 520px) {
    .common_mainPanel .listPanel>ul li {
        width: 100%;
        margin-bottom: 20px;
    }
}